<h1>Register For Upcoming Interview Sessions</h1>

<h3>Dates are only valid on Tuesday and Thursday</h3>

<form>
	<input type='checkbox' name="<%= Date.current.next_week(:tuesday) %>" value=<%= Date.current.next_week(:tuesday) %>/>
</form>