<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<h1>Hey <%= @user.name %></h1>
  	<p>So if you're recieving this email it means you had signed up for today's session, but it seems like many of you didn't recieve the email with your partner and your question. Please either forward me the email or recieved or let me know if you did not recieve an email.</p>

  	<p>Cheers,</p>
  			<p>John</p>	
	</body>
</html>