<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Hey again <%= @user.name %>,</p>

  	<p> Thanks again to everyone who signed up for Tuesday and participated in the test of our pairing algorithm! Everything should be good to go for our first session this Thursday! If you're able to make it, and want to get better at technical interviews, we will be starting at 11am. Again, if you have any questions feel free to email me at john@johnmaguiredeveloper.com. Happy coding, and looking forward to all of us getting more proficient at these technical interviews!</p>

  	<p>
  		Cheers,
  	</p>
  	<p> John </p>
	</body>
</html>