/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color:#a5deff;
}

#container{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;

}
#content{
  background-color:white;
  border-radius:20px;
  width:200px;
align-content:center;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  padding:0 25%;

}

.new_user{
  padding:50px;
justify-content:space-around;
  display:flex;
  align-items:flex-start;
  flex-wrap:wrap;
  flex-grow:2;
}
.new_user input{
  width:100px;
  flex: 1 0 8em;

}